* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

body main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  min-height: 100vh;
  height: fit-content;
}

ul {
  list-style-type: disc;
  background-color: #f9f9f9;
  border-radius: 8px;
}

li {
  padding: 12px 20px;
  margin: 0;
  color: #333;
  transition: background-color 0.3s ease;
}

li > span {
  font-weight: bold;
  color: #007acc;
}

.header {
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  height: 100px;
  background: rgb(48, 45, 53);
}

.header a {
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
}

a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.main {
  min-height: calc(100vh - 85vh - 22vh);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  height: fit-content;
}
